<h2>Template Basicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" #miFormulario="ngForm">
            <!-- Nombre del producto -->
            <div class="row mb-3">
                <label class="col-form-label col-sm-3 ">Producto</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="initForm.producto" required class="form-control" type="text" placeholder="Nombre del producto"
                        minlength="3" name="producto">
                    <span class="form-text text-danger" *ngIf="nombreValido()">
                        Debe ser de 3 letras
                    </span>
                </div>
            </div>

            <!-- Precio del producto -->
            <div class="row mb-3">
                <label class="col-form-label col-sm-3 ">Precio</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="initForm.precio" required class="form-control" type="number" placeholder="Precio del producto" name="precio" min="0">
                    <span class="form-text text-danger" *ngIf="precioValido()">
                        El precio debe ser 0 o mayor
                    </span>
                </div>
            </div>

            <!-- Existencias del producto -->
            <div class="row mb-3">
                <label class="col-form-label col-sm-3 ">Existencias</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="initForm.existencias" customMin required class="form-control" type="number" placeholder="Existencias del producto"
                        name="existencias" [minimo]="0">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.invalid">Guardar</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

        <span>Custom Directive</span>
        <pre>{{ miFormulario.controls.existencias?.errors | json }}</pre>

    </div>
</div>