<h2>Template: Switches</h2>
<hr>

<form #miFormulario="ngForm">
    <!-- Radios -->
    <div class="row mb-3">
        <label classs="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" [(ngModel)]="persona.genero"
                    name="flexRadioDefault" id="radioMasculino" required>
                <label class="form-check-label" for="radioMasculino">Masculino</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" [(ngModel)]="persona.genero"
                    name="flexRadioDefault" id="radioFemenino" required>
                <label class="form-check-label" for="radioFemenino">Femenino</label>
            </div>
        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label classs="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" [(ngModel)]="persona.notificaciones"
                    name="notificaciones" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!-- Terminos y condiciones -->
    <div class="row mb-3">
        <label classs="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="terminosCondiciones" value=""
                    id="flexCheckDefault" name="terminosCondiciones" required>
                <label class="form-check-label" for="flexCheckDefault">Términos y condiciones</label>
            </div>
        </div>
    </div>

    <!-- Boton submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
    </div>

    <h5>Valor del formulario</h5>
    <pre>{{ miFormulario.value | json }}</pre>

    <h5>Términos y Condiciones</h5>
    <pre>{{ miFormulario.controls?.terminosCondiciones?.errors | json }}</pre>
    
</form>